<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
	<connectionStrings>
		<add name="stringConexao" providerName="System.Data.SqlClient" connectionString= "Data Source=den1.mssql6.gear.host;Integrated Security=False;User ID=testecore;Password=Dz2iI~!U1Edq;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False " />
	</connectionStrings>
</configuration>